{% extends 'base.html' %}
    {# {% import 'bootstrap/wtf.html' as wtf %} #}
    {% block head %}
        {{ super() }}
    {% endblock head %}
{% block content %}


<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    四川大学江安校区<br />
    成都市, 四川省 610207<br />
    <abbr title="Phone">Tel:</abbr>
    15528242517
</address>

<address>
    <strong>技术支持:</strong>   <a href="mailto:825570036@qq.com">825570036@qq.com</a><br />
    <strong>市场部:</strong> <a href="mailto:28252517@gmail.com">28252517@gmail.com</a>
</address>
{% endblock %}
